<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mariadb://localhost:3306/iotdb</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MariaDBDialect</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">5</property>
        <property name="hibernate.jdbc.batch_size">20</property>
        <property name="hibernate.generate_statistics">true</property>
        <property name="hibernate.jdbc.batch_versioned_data">true</property>
        <property name="hibernate.max_fetch_depth">5</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.service.allow_crawling">false</property>

        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">create</property>
        <mapping resource="RegionPO.hbm.xml"/>
        <mapping class="com.yanxin.iot.mariadb.beans.RegionPO"/>
        <mapping class="com.yanxin.iot.mariadb.beans.RoomPO"/>
        <mapping resource="RoomPO.hbm.xml"/>
        <mapping resource="SensorPO.hbm.xml"/>
        <mapping class="com.yanxin.iot.mariadb.beans.SensorPO"/>
        <mapping class="com.yanxin.iot.mariadb.beans.SensorDataPO"/>
        <mapping resource="SensorDataPO.hbm.xml"/>
        <mapping resource="SensorTypePO.hbm.xml"/>
        <mapping class="com.yanxin.iot.mariadb.beans.SensorTypePO"/>
        <mapping resource="SiteareaPO.hbm.xml"/>
        <mapping class="com.yanxin.iot.mariadb.beans.SiteareaPO"/>
        <mapping resource="UserPO.hbm.xml"/>
        <mapping class="com.yanxin.iot.mariadb.beans.UserPO"/>

        <!--<mapping resource="User.hbm.xml" />-->
    </session-factory>
</hibernate-configuration>